<h1>This be a pirate:</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Weight</th>
        <th>Height</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <%= @pirate[:name] %> </th>
        <th> <%= @pirate[:weight] %> </th>
        <th> <%= @pirate[:height] %> </th>
      </tr>
    <tbody>
  </table>

<h2>Thar Be Me Ship:</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Booty</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <%= @pirate[:ships]["0"][:name] %> </th>
        <th> <%= @pirate[:ships]["0"][:type] %> </th>
        <th> <%= @pirate[:ships]["0"][:booty] %> </th>
      </tr>
    </tbody>
  </table>

<h2>Thar Be Another Ship o' Mine:</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Booty</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th> <%= @pirate[:ships]["1"][:name] %> </th>
        <th> <%= @pirate[:ships]["1"][:type] %> </th>
        <th> <%= @pirate[:ships]["1"][:booty] %> </th>
      </tr>
    </tbody>
  </table>
